<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dcard Intern Web Question</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <style media="screen">
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>TodoList - {{newTodo}}</h1>
    <input type="text" v-model="newTodo" @keyup.enter="addItem">
    <div class="filterBtn">
      <button @click="changeFilter('all')">All</button>
      <button @click="changeFilter('completed')">Complete</button>
      <button @click="changeFilter('uncomplete')">Uncomplete</button>
    </div>
    <ul>
      <li v-for="i in todosFilter" :key="i.id" :class="{completed: i.complete}" @dblclick="editTodo(i)">
        <input type="checkbox" v-model="i.complete">
        <label>{{i.name}}</label>
        <button type="button" @click="removeTodo(i)">Delete</button>
      </li>
    </ul>
    <div>
      <button @click="clear">Clear</button>
    </div>
    <div v-show="editable">
      <input type="text" v-model="editObject.name" @keyup.enter="completeEdit">
    </div>
  </div>

  <script src="./main.js"></script>
</body>
</html>
